
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
	background-color: lightblue;
	font-size: 150%;
	font-family: fantasy,Comic San MS, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	margin: 0;
	padding: 0;
}

div#container {
  background-color: lightblue;
  position: relative;
	top:50px;
	float: left;
	width: 28%;
  height: 400px;
	overflow: auto;
	box-sizing: border-box;
	padding: 5px;
	margin-left: 4%;
	border: 1px solid black;
	font-size: 90%;
	font-family: fantasy, Comic San MS, Geneva, Arial, Helvetica, sans-serif;
}

#headings{
  background-color: yellow;
  position: relative;
	width: 100px;
  top: -5px;
  left: -5px;
	text-align: center;
	font-size: 125%;
	font-family: fantasy, Comic San MS, Geneva, Arial, Helvetica, sans-serif;

}
