
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
	background-color: lightblue;
	font-size: 150%;
	font-family: fantasy,Comic San MS, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	margin: 0;
	padding: 0;
}
 
div {
  background-color: lightblue;
  position: relative;
	top:50px;
    height: 400px;
	overflow: auto;
	box-sizing: border-box;
	padding: 5px;
	margin-bottom: 15px;
	border: 1px solid black;
	font-size: 90%;
	font-family: fantasy, Comic San MS, Geneva, Arial, Helvetica, sans-serif;
}

#headings{
  background-color: yellow;
  position: relative;
	width: 100px;
  top: -5px;
  left: -5px;
	text-align: center;
	font-size: 125%;
	font-family: fantasy, Comic San MS, Geneva, Arial, Helvetica, sans-serif;

}
@media (min-width: 1200px) { 
	#cont1 {
	width: 28%;
	margin-left: 4%;
    float: left;
	}
	#cont2 {
	width: 28%;
	margin-left: 4%;
    float: left;
	}
	#cont3 {
	width: 28%;
	margin-left: 4%;
    float: left;
	}
}
@media (min-width: 750px) and (max-width: 1199px) { 
	#cont1 {
	width: 47%;
	margin-left: 2%;
    float: left;
	}
	#cont2 {
	width: 47%;
	margin-left: 2%;
    float: left;
	}
	#cont3 {
	width: 96%;
	margin-left: 2%;
	float:left;
	}
}

@media (max-width: 749px) { 
	#cont1 {
	width: 96%;
	margin-left: 2%;
    float: left;
	}
	#cont2 {
	width: 96%;
	margin-left: 2%;
    float: left;
	}
	#cont3 {
	width: 96%;
	margin-left: 2%;
	float:left;
	}
}