
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
	font-size: 175%;
	font-family: fantasy,Comic San MS, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	margin-top: 50px;
	padding: 0;
}
 
div {
  background-color: lightblue;
  position: relative;
	top:50px;
    height: 400px;
	overflow: auto;
	box-sizing: border-box;
	padding: 5px;
	padding-top: 30px;
	margin-bottom: 15px;
	border: 1px solid black;
	font-family: fantasy, Comic San MS, Geneva, Arial, Helvetica, sans-serif;
}

#headings{
  background-color: yellow;
  position: absolute;
	width: 100px;
  top: -6px;
  right: -6px;
  border: 1px solid black;
	text-align: center;
	font-size: 125%;
	font-family: fantasy, Comic San MS, Geneva, Arial, Helvetica, sans-serif;

}
@media (min-width: 992px) { 
	#cont1 {
	width: 28%;
	margin-left: 4%;
    float: left;
	}
	#cont2 {
	width: 28%;
	margin-left: 4%;
    float: left;
	}
	#cont3 {
	width: 28%;
	margin-left: 4%;
    float: left;
	}
}
@media (min-width: 768px) and (max-width: 991px) { 
	#cont1 {
	width: 47%;
	margin-left: 2%;
    float: left;
	}
	#cont2 {
	width: 47%;
	margin-left: 2%;
    float: left;
	}
	#cont3 {
	width: 96%;
	margin-left: 2%;
	float:left;
	}
}

@media (max-width: 767px) { 
	#cont1 {
	width: 96%;
	margin-left: 2%;
    float: left;
	}
	#cont2 {
	width: 96%;
	margin-left: 2%;
    float: left;
	}
	#cont3 {
	width: 96%;
	margin-left: 2%;
	float:left;
	}
}